body{
    font-family: 'Poppins', sans-serif;
    margin: 0em;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
    margin-top: 200px;
}
.h3{
    font-size: 150px;
}
.name-highlight{
    color: #EC4C7A;
}
.link-button{
    color: white;
    text-decoration: none;
    background-image: linear-gradient(50deg, #fd7eb3, #EC4C77);
    padding: 10px 30px;
    border-radius: 5px;
    font-weight: 800;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.half-width2{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width2 img{
    width: 100%;
}
#top-banner{
    height: 500px;
    padding-bottom: 400px;
    display: flex;
    background-image: url("img/header-bg.png");
    background-repeat: no-repeat;
    flex-direction: row;
}
#top-banner img{
    margin-top: 70px;
    width: 100%;
}
#second-part{
    height: 500px;
    padding-bottom: 400px;
    display: flex;
    background-image: url("img/biography-bg.png");
    background-repeat: no-repeat;
    flex-direction: row;
}
#second-part h2{
    margin-top: 300px;
}
.font-change{
    font-family: 'Poppins', sans-serif;
}
.work-heading{
    text-align: center;;
    margin-top: 120px;
}
.work img{
    width: 30%;
    height: 30%;
    float: left;
    margin-left: 28px;
    padding-left: 1%;
    margin-bottom: 180px;
}
.work img:hover{
    transform: scale(1.3);
}
#shadow{
    box-shadow: 10px 10px 40px gray;
}
.experience-area{
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-y: 250px;
    margin-top: 100px;
}
.experience_head{
    font-size: 30px;
    margin-top: 0px;
}
.align-center{
    text-align: center;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#junior-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}


.half-width3{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 20%; 
}
.box-shadow{
    box-shadow: 10px 10px 40px gray ;
    border-radius: 5px;
    padding: 20px 30px;
}
section{
    height: 220px;
    padding-bottom: 300px;
}
#experience-part{
    height: 500px;
    padding-bottom: 200px;
    background-image: url("img/latest-work-bg.png");
    background-repeat: no-repeat;
    flex-direction: row;
}
.top_head{
    background-color: yellow;
    display: inline-block;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 20px gray;
    margin-left: 820px;
    padding: 10px 80px 10px 80px;
}
.top_head2{
    background-color: yellow;
    display: inline-block;
    align-items: center;
    text-align: center;
    box-shadow: 2px 2px 20px gray;
    margin-left: 790px;
    padding: 10px 80px 10px 80px;
}
#client-part{
    height: 500px;
    padding-bottom: 400px;
    background-image: url("img/footer-bg.png");
    background-repeat: no-repeat;
    flex-direction: row;
}
.client{
    text-align: center;
}
.link-button2 {
    text-align: center;
    display: inline-block;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(50deg, #fd7eb3, #EC4C77);
    margin-left: 650px;
    margin-top: 100px;
    padding: 10px 200px;
    border-radius: 5px;
    font-weight: 800;
}
.copyright{
    text-align: center;
}
.date{
    height: 500px;
    margin-bottom: 450px;

}
.date ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
}
.date li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 2.5em;
    height: 150px;
    background-color: lightyellow;
}
.calender_head{
    text-align: center !important;
    margin-top: 150px;
    margin-bottom: 120px;
}
.date_bgcolor{
    background-color: lightgreen !important; 
}
#day ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
}
#day li{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 3em;
    height: 125px;
    background-color: lightsalmon;

}
.calender{
    margin-bottom: 800px;
}